body {
  margin: 0px;
}

header {
  text-align: center;
  letter-spacing: 5px;
  word-spacing: 10px;
  background-color:rgb(132, 189, 142);
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 30px;
}

h1 {
  text-decoration-style: solid;
  text-decoration-line: overline;
  text-decoration-color: black;
  margin: 0px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li:nth-child(3n+2) {
  color:darkgreen;
  font-weight: bold;
  text-decoration-style: dotted;
  text-decoration-line: underline;
}

li:nth-child(3) {
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: red;
}

div {
  box-sizing: border-box;
  width: 450px;
  min-height: 150px;
  max-height: 250px;
  overflow: auto;
  text-indent: 25px;
  line-height: 24px; /* Настолько я вижу, на макете line-height задан в размере 30px примерно, но на занятии говорилось, что расстояние между строками должно быть 1.5 размера шрифта. Оставила 24px т.к. шрифт 16px*/
  padding: 0px 20px 10px;

}

h2 {
  text-align: center;
  text-transform:uppercase;
  font-style: italic;
  letter-spacing: -1px;
}

.first_block_prague {
  background-color: yellow;
  border: 6px dotted black;
  margin-left: 5%;
}

.second_block_paris {
  background-color: yellowgreen;
  border: 6px dashed black;
  margin-left: 60%;
}

.third_block_germany {
  background-color:mediumpurple;
  border: 6px dashed black;
  margin-left: 20%;
}

.fourth_block_austria {
  background-color:indianred;
  border: 6px dotted black;
  margin-left: 50%;
}